.overflow-container,
div {
    overflow-x: scroll
}
a,
button {
    text-decoration: none
}
canvas,
iframe,
img,
select,
svg,
textarea,
video {
    width: 100%
}
::-webkit-scrollbar {
    display: none
}
canvas,
iframe,
svg,
video {
    padding-top: 56.25%;
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100
}
body {
    max-width: 76em;
    margin: 0 auto;
    padding: 0.2vh 1em;
    font-family: sans-serif;
    font-size: 19px;
    line-height: 1.5rem
}
div {
    margin: 4rem 0
}
div div {
    margin: 2rem 0
}
div div div {
    margin: 2rem
}
code {
    margin: 1.6rem 0
}
button {
    margin: 0 .25em .5em 0;
    background-color: transparent;
    display: inline-block;
    padding: .8em;
    border: 1px solid #efefef;
    border-radius: .1em
}
button a:link {
    opacity: .9
}
button a:visited {
    opacity: .7
}
button a:active,
button a:hover {
    opacity: 1
}
td,
th,
tr {
    padding: .6%
}
th {
    text-align: left
}
iframe {
    border: none
}
